## <u>Project Title</U>
### Analyzing India's Metal and Alloys Export Trends

## <u>Objective</u>
### To conduct a comprehensive data analysis of India's metal and alloys export data spanning over 10 years to derive actionable insights and trends.

## <u>Technologies Used</u>
### Python, Excel, PowerBI
<hr/>

### <u>General Overview of the project</u>
<ul>
<li> Ask - Defining the relevant Questions </li>
<li> Prepare - Data Collecting,  Data description</li>
<li> Process - Cleaning the data </li>
<li> Analyze - Understanding and interpreting data, why it happens? </li>
<li> Share - Visualization and Dashboarding </li>
<li> Act - Strategy implementation and conclusion </li>
<hr/>

# <u>ASK</u>
## Questions we are trying to answer
1. What is the overall trend in the export of metal and alloys over the past decade?
2. Which specific types of metals and alloys show significant growth or decline in export volume and value?
3. How has the unit price (value/quantity) changed over the years?
## Post Analysis Question
4. Are there any correlations between economic indicators (e.g., GDP) and metal/alloy exports?
5. What are the key factors influencing export trends, such as policy changes, global market conditions, or technological advancements?

<hr/>

# <u>PREPARE</u>
### <u>Data Information</u>
<p>Analloy is a material composed of two or more metals or a metal and a nonmetal and metal is a material that is typically hard, opaque, shiny, and has good electrical and thermal conductivity. Here the data refers to quantity and value of exports of Metals and Alloys.</p>

##### **Released Under:** National Data Sharing and Accessibility Policy (NDSAP)
##### **Contributor:** Ministry of Mines, Indian Bureau of Mines
##### **Domain:** Open Government Data (OGD) Platform India
##### **Source:**  DGCI&S,Kolkata.
<hr/>

# <u>PROCESS</u>
### <u>Data Cleaning</u>

In [2]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

file1 = pd.read_csv('10-13.csv')
file1

,Metals and Alloys,unit,Quantity 2010-11(R),Value 2010-11(R),Quantity 2011-12,Value 2011-12,Quantity 2012-13 (P),Value 2012-13 (P)
0,All Metals and Alloys,NaN,NaN,940524476.0,NaN,1.024998e+09,NaN,1.394959e+09
1,Aluminium alloys and scrap,tonne,428253.0,56530539.0,506310.0,7.202482e+07,566762.0,8.713270e+07
2,Antimony alloys and scrap,tonne,954.0,464038.0,1410.0,8.725600e+05,2123.0,1.311070e+06
3,Bismuth and Scrap,tonne,NaN,351.0,1.0,9.790000e+02,5.0,5.460000e+03
4,Boron,tonne,48.0,12818.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
87,Tungsten alloys and scrap,Kg,430970.0,669662.0,638430.0,1.423388e+06,408664.0,1.951349e+06
88,Zinc and alloys (incl. scrap) - Total,tonne,264251.0,32248477.0,295071.0,3.626622e+07,198675.0,2.467638e+07
89,Zinc and alloys (incl. scrap) - Zinc and alloys,tonne,264219.0,32244982.0,295033.0,3.626216e+07,198598.0,2.466948e+07
90,Zinc and alloys (incl. scrap) - Zinc (scrap),tonne,32.0,3495.0,38.0,4.052000e+03,77.0,6.899000e+03
91,Zirconium and Scrap,tonne,26.0,6799.0,645.0,1.122510e+05,1.0,3.430000e+02